gauges/circular/subflow/flow_gauge_subflow.json
[
    {
        "id": "0d51f6a2bae0f159",
        "type": "group",
        "z": "997da33a0beedade",
        "name": "Gauge - Group to export to node red ui components",
        "style": {
            "label": true
        },
        "nodes": [
            "3ab827cb8f00014a",
            "fb994f32ce900dda",
            "1cc323e3807f1bf0",
            "b2dff1648d75190c",
            "fab47402dd5e5d0e",
            "86425b5f334621b8",
            "a17da6d1a0739673",
            "b4839e916817a5bf",
            "3d3c3d42fc45a684",
            "09c96ce578d1976d",
            "c34fa1e1b9b2a179"
        ],
        "x": 134,
        "y": 2819,
        "w": 512,
        "h": 442
    },
    {
        "id": "b603080c5881e58b",
        "type": "subflow",
        "name": "gauge cdl",
        "info": "A node red *gauge* for @flowfuse/node-red-dashboard\nA longer **help text** could go here\nMulti line is supported.",
        "category": "dashboard 2",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "c6c07b308dc355e6"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "Group",
                "type": "ui-group",
                "value": "",
                "ui": {
                    "type": "conf-types"
                }
            },
            {
                "name": "width",
                "type": "num",
                "value": "4",
                "ui": {
                    "label": {
                        "en-US": "Width"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "height",
                "type": "num",
                "value": "4",
                "ui": {
                    "label": {
                        "en-US": "Height"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "min",
                "type": "num",
                "value": "0",
                "ui": {
                    "label": {
                        "en-US": "Min"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "max",
                "type": "num",
                "value": "10",
                "ui": {
                    "label": {
                        "en-US": "Max"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "sectors",
                "type": "json",
                "value": "[]",
                "ui": {
                    "label": {
                        "en-US": "Sectors"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "json",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "majorDivision",
                "type": "num",
                "value": "2",
                "ui": {
                    "label": {
                        "en-US": "Major Division"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "minorDivision",
                "type": "num",
                "value": "0.2",
                "ui": {
                    "label": {
                        "en-US": "Minor Division"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "valueDecimalPlaces",
                "type": "num",
                "value": "1",
                "ui": {
                    "label": {
                        "en-US": "Value Decimal Places"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "scaleDecimalPlaces",
                "type": "num",
                "value": "0",
                "ui": {
                    "label": {
                        "en-US": "Scale Decimal Places"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "label",
                "type": "str",
                "value": "gauge",
                "ui": {
                    "label": {
                        "en-US": "Label"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "measurement",
                "type": "str",
                "value": "measurement",
                "ui": {
                    "label": {
                        "en-US": "Measurement"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "units",
                "type": "str",
                "value": "°C",
                "ui": {
                    "label": {
                        "en-US": "Units"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "needles",
                "type": "json",
                "value": "[{\"topic\":\"\",\"colour\":\"red\",\"lengthPercent\":100}]",
                "ui": {
                    "label": {
                        "en-US": "Needles"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "json",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "sweepAngle",
                "type": "num",
                "value": "246",
                "ui": {
                    "label": {
                        "en-US": "Sweep Angle (deg)"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "class",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Class"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            }
        ],
        "meta": {
            "module": "@colinl/node-red-gauge",
            "type": "ui-gauge-cdl",
            "version": "0.0.10",
            "author": "Colin Law",
            "desc": "# A node red *gauge* for @flowfuse/node-red-dashboard\\nA longer **help text** could go here\\n Multi line is supported by bashlash n.",
            "keywords": "node-red, gauge, dashboard",
            "license": "Apache-2.0"
        },
        "color": "#3FADB5",
        "icon": "node-red-dashboard/ui_gauge.png"
    },
    {
        "id": "7b0e53c2103b19d5",
        "type": "ui-template",
        "z": "b603080c5881e58b",
        "group": "${Group}",
        "page": "",
        "ui": "",
        "name": "Gauge template",
        "order": 1,
        "width": "${width}",
        "height": "${height}",
        "head": "",
        "format": "<!-- Gauge Template CDL\n  Based on original work by @HotNipi \n-->\n\n<template>\n    <div class=\"cdl-gauge\">\n        <svg ref=\"cl-gauge\" width=\"100%\" height=\"100%\" :view-box.camel=\"theViewBox\">\n            <g>\n                <path v-for=\"(item, index) in sectors\" :key=\"index\" :ref=\"'sector-' + index\" class=\"sector\" stroke-width=\"5\" :d=\"arcspec\" ></path>                \n            </g>\n            <g>\n                <path class=\"tick-minor\" stroke-width=\"5\" :d=\"arcspec\" :style=\"tickStyle(this.minorDivision, 0.5)\"></path>\n                <path ref=\"arc\" class=\"tick-major\" stroke-width=\"5\" :d=\"arcspec\" :style=\"tickStyle(this.majorDivision, 1)\"></path>\n                \n            </g>         \n            <g>\n                <text v-for=\"(item, index) in numbers\" :key=\"index\" class=\"num\" text-anchor=\"middle\" :y=\"`${10.5-this.arc.radius}`\" \n                  :style=\"`rotate: ${item.r}deg; transform-origin: ${this.arc.cx}% ${this.arc.cy/this.widgetSizeRatio}%; transform: translate(${this.arc.cx}%, ${this.arc.cy/widgetSizeRatio}%)`\">\n                  {{item.n}}</text>\n            </g>\n            <g>\n                <text class=\"label\" y=\"0\" x=\"50%\" text-anchor=\"middle\">{{label}}</text>\n                <text class=\"measurement\" :y=\"`${this.arc.cy-16}`\" x=\"50%\" text-anchor=\"middle\">{{measurement}}</text>\n                <text class=\"units\" :y=\"`${this.unitsTextY}`\" x=\"50%\" text-anchor=\"middle\">{{units}}</text>\n                <text class=\"value\" :y=\"`${this.valueTextY}`\" x=\"50%\" text-anchor=\"middle\">{{formattedValue}}</text>\n            </g>\n            <g v-for=\"(item, index) in needles\" :ref=\"'o-needle-'+index\" class=\"o-needle\" \n              :style=\"`transform-box: fill-box; transform-origin: 50% 100%; rotate: ${item.rotation}`\"\n              v-html=\"needle(needles[index].lengthPercent,needles[index].colour)\">\n            </g>\n            <g>\n                <circle class=\"hub\" :cx=\"`${this.arc.cx}`\" :cy=\"`${this.arc.cy}`\" r=\"3\"></circle>\n            </g>\n        </svg>\n    </div>\n</template>\n\n<script>\n    export default{\n        data(){\n            let data = {\n                // Min and max scale values.  Max may be less that min.\n                min:0,\n                max:1,\n                majorDivision: 10,       // number of input units for each (numbered) major division\n                minorDivision: 5,       // number of input units for each minor division\n                units:\"\",\n                label:\"\",\n                measurement:\"\",\n                valueDecimalPlaces: 2,    // number of decimal places to show in the value display\n                scaleDecimalPlaces: 1,    // number of decimal places to show on the scale\n                width: 4,                   // widget width and height in dashboard units\n                height: 4,\n                // Coloured sectors around the scale.  Sectors can be in any order and it makes no difference if \n                // start and end are reversed.\n                //  Any gaps are left at background colour\n                sectors:[{start:0,end:0.4,color:\"skyblue\"},{start:0.4,end:0.75,color:\"green\"},{start:0.75,end:1.4,color:\"red\"}],\n\n\n                // The position and alignment of the gauge inside the 100x100 svg box for the widget can be changed by modifying the settings below\n                // The origin of the svg box is the top left hand corner. The bottom right hand corner is 100,100\n                // Obviously, if you move the gauge you may have to move the text fields also.\n                // Take care with these settings, if you put silly values in the browser showing the dashboard may lock up. If this happens,\n                // close the dashboard browser tab (which may take some time as it is locked up).\n                arc: {\n                    cx:50,              // the x and y coordinates of the centre of the gauge arc\n                    cy: 64, \n                    radius: 47.5,       // the radius of the arc\n                    startDegrees: -123, // the angle of the start and end points of the arc.  Zero is vertically up from the centre\n                    endDegrees: 123,    // +ve values are clockwise\n                    // derived values, values here are just to stop errors before first message received\n                    startx: 10,\n                    starty: 90,\n                    endx: 90,\n                    endy: 90,\n                    arclength: 100,\n                },\n                sweepAngle: 246,    // this is not inside arc as it comes from the message\n\n                //don't change these\n                value: null,\n                needles: [],\n                msgReceived: false,     // indicates whether the first message with config data has been received\n\n                // derived values\n                widgetSizeRatio: 1,\n                unitsTextY: 0,\n                valueTextY: 0,\n            }\n\n            return data\n        },\n        watch: {\n            msg: function(){\n                console.log(`msg: ${JSON.stringify(this.msg)}`)\n                // pick up the subflow config values if this is the first message received\n                if (!this.msgReceived) {\n                    console.log(\"First message received\")\n                    this.pickupProperties()\n                    this.msgReceived = true\n                }\n                // pickup values and rotation\n                this.needles.forEach((needle, index) => {\n                    const value = this.needles.length === 1  ?  this.msg.payload  :  this.msg.payload[needle.topic]\n                    const v = this.validate(value)\n                    // the value displayed is from the first needle\n                    if (index === 0) {\n                        // value displayed is for the first needle\n                        this.value = v\n                    }\n                    needle.rotation = this.rotation(v)\n                })\n            }\n        },\n        methods:{\n            pickupProperties: function() {\n                // pickup subflow properties from this.msg._data and merge with base properties\n                const data = this.msg._data\n                \n                this.min = Number(data.min)\n                this.max = Number(data.max)\n                this.width = Number(data.width)      // width and height in dashboard 2 units - eg 4 x 4\n                this.height = Number(data.height)\n                this.sectors = data.sectors\n                this.majorDivision = Number(data.majorDivision)\n                this.minorDivision = Number(data.minorDivision)\n                this.valueDecimalPlaces = Number(data.valueDecimalPlaces)\n                this.scaleDecimalPlaces = Number(data.scaleDecimalPlaces)\n                this.label = data.label\n                this.units = data.units\n                this.measurement = data.measurement\n                this.needles = data.needles\n                this.unitsTextY = data.unitsTextY\n                this.valueTextY = data.valueTextY\n                this.sweepAngle = data.sweepAngle || 246\n\n                this.calculateDerivedValues()\n                \n                // this is the first message so do the initial setup\n                // determine arc length, radius is 50\n                const arcLength = 2*Math.PI*this.arc.radius * this.sweepAngle/360\n                const sec = this.sectorData(arcLength)\n                const gauge = this.getElement('cl-gauge',true)\n                gauge.style.setProperty('--dash',arcLength)\n                sec.forEach(s =>{\n                    const sector = this.getElement(s.name,false)\n                    sector.style.setProperty(\"stroke-dasharray\",s.css)\n                    sector.style.setProperty(\"stroke\",s.color)\n                })\n            },\n            calculateDerivedValues: function() {\n                // validates values and calculates derived values\n\n                const cyLow = 64            // y coord of centre when gauge positioned at bottom of widget\n                const cyHigh = 50           // y coord when chart at top of widget\n                const radius = 47.5         // the usual radius\n                // sanity checks - probably there should be more of these\n                this.majorDivision = this.majorDivision <= 0  ?  1  : this.majorDivision\n                this.minorDivision = this.minorDivision <= 0  ?  1  : this.minorDivision\n                // position chart at top of widget if label is empty\n                this.arc.radius = radius\n                if (this.label && this.label.length > 0) {\n                    this.arc.cy = cyLow\n                } else {\n                    this.arc.cy = cyHigh\n                    // for the special case of the widget height being exactly 50 svg units (half the height), reduce the radius a bit\n                    // so that the needle hub will be fully visible\n                    if (this.height/this.width == 0.5) {\n                        this.arc.radius -= 2.0  // not quite sure why this is ok with -2 with cy at -2.5\n                        this.arc.cy -= 2.5\n                    }\n                }\n                // position units and value text above or below centre dependent on whether measurement text is provided\n                if (this.measurement && this.measurement.length > 0) {\n                    this.unitsTextY = this.arc.cy + 11\n                    this.valueTextY = this.arc.cy + 26\n                } else {\n                    this.unitsTextY = this.arc.cy - 23\n                    this.valueTextY = this.arc.cy - 8\n                }\n                // calculate start and end degrees from sweepAngle\n                // check for undefined or 0, both are innapropriate\n                if (this.sweepAngle) {\n                    this.sweepAngle = Math.min(360, this.sweepAngle)\n                    this.arc.startDegrees = -this.sweepAngle/2\n                    this.arc.endDegrees = this.sweepAngle/2\n                }\n\n                const startRadians = this.arc.startDegrees * Math.PI/180\n                const endRadians = this.arc.endDegrees * Math.PI/180\n                this.arc.startx = this.arc.cx - this.arc.radius * Math.sin(startRadians-Math.PI)\n                this.arc.starty = this.arc.cy + this.arc.radius * Math.cos(startRadians-Math.PI)\n                this.arc.endx = this.arc.cx + this.arc.radius * Math.sin(Math.PI-endRadians)\n                this.arc.endy = this.arc.cy + this.arc.radius * Math.cos(Math.PI-endRadians)\n                this.arc.arcLength = 2 * Math.PI * this.arc.radius * (this.arc.endDegrees - this.arc.startDegrees)/360\n\n                this.widgetSizeRatio = this.height/this.width\n\n            },\n            getElement: function(name,base){\n                if(base){\n                    return this.$refs[name]\n                }\n                //if (!this.$refs[name]) console.log(`ref: ${name}`)\n                return this.$refs[name][0]\n            },\n            validate: function(data){\n                let ret                \n                if(typeof data !== \"number\"){\n                    ret = parseFloat(data)\n                    if(isNaN(ret)){\n                        console.log(\"INVALID DATA! gauge id:\",this.id,\"data:\",data)\n                        ret = null\n                    }\n                }                    \n                else{\n                    ret = data\n                }                \n                return ret\n            },\n            range:function (n, p, r) {\n                // clamp n to be within input range\n                if (p.maxIn > p.minIn) {\n                    n = Math.min(n, p.maxIn)\n                    n = Math.max(n, p.minIn)\n                } else {\n                    n = Math.min(n, p.minIn)\n                    n = Math.max(n, p.maxIn)\n                }\n                if(r){\n                    return Math.round(((n - p.minIn) / (p.maxIn - p.minIn) * (p.maxOut - p.minOut)) + p.minOut);\n                }\n                return ((n - p.minIn) / (p.maxIn - p.minIn) * (p.maxOut - p.minOut)) + p.minOut;\n            },\n            generateNumbers:function(min,max,majorDivision){    \n                let minDegrees, maxDegrees, startValue\n                if (max > min) {\n                    minDegrees = this.arc.startDegrees\n                    maxDegrees = this.arc.endDegrees\n                    startValue = min    \n                } else {\n                    minDegrees = this.arc.endDegrees\n                    maxDegrees = this.arc.startDegrees\n                    startValue = max              \n                }\n                // Calculate number of major divisions, adding on a bit and rounding down in case last one is just off the end\n                const numDivs = Math.floor(Math.abs(max-min) / majorDivision + 0.1)\n                const degRange = maxDegrees-minDegrees\n                const degPerDiv = degRange * majorDivision/Math.abs(max-min)\n                let nums = []\n                for (let div=0; div<=numDivs; div++) {\n                    let degrees = div*degPerDiv + minDegrees\n                    const n = (startValue + div * majorDivision).toFixed(this.scaleDecimalPlaces)\n                    nums.push({r: degrees, n: n})\n                }\n                return nums \n            },\n            sectorData:function(full){               \n                let ret = []\n                this.sectors.forEach((sector,idx) => {\n                    let sec = {name:'sector-'+idx,color:sector.color}\n                    const params = {minIn:this.min, maxIn:this.max, minOut:0, maxOut:full}\n                    const start = this.range(sector.start,params,false)\n                    const end = this.range(sector.end,params,false)\n                    const pos = Math.min(start, end)\n                    const span = Math.max(start, end) - pos\n                    sec.css = `0 ${pos} ${span} var(--dash)`\n                    ret.push(sec)\n                })\n                return ret\n            },\n            rotation:function(v){\n                // allow pointer to go 10% off ends of scale, but not more than half way to the other end of the scale\n                // except in the special case of widget height is half the width, in which case only 2% so that needle does not go\n                // off the bottom\n                const factor = (this.height/this.width == 0.5) ? 0.02 : 0.1\n                const deltaDeg = this.arc.endDegrees - this.arc.startDegrees\n                const gapDeg = 360 - deltaDeg\n                const overflowFactor = Math.min(factor, gapDeg/2/deltaDeg)\n                const overflow = (this.max-this.min)*overflowFactor\n                const angleOverflow = (deltaDeg)*overflowFactor \n                const min = this.min - overflow\n                const max = this.max + overflow\n                const minAngle = this.arc.startDegrees - angleOverflow\n                const maxAngle = this.arc.endDegrees + angleOverflow\n                const params = {minIn:min, maxIn:max, minOut:minAngle, maxOut:maxAngle};\n                if (v === null) {\n                    v = Math.min(min, max)\n                }\n                return `${this.range(v,params,false)}deg`\n            },\n            tickStyle: function(division, width) {\n                // division is the number of input units per tick\n                // width is the width (length?) of the tick in svg units\n\n                // total arc length in svg units\n                const arcLength = this.arc.arcLength\n                // length in user units\n                const range = Math.abs(this.max - this.min)\n                const tickPeriod = division/range * arcLength\n                // marker is width wide, so gap is tickPeriod-width\n                // stroke-dashoffset sets the first tick to half width\n                return `stroke-dasharray: ${width} ${tickPeriod-width}; stroke-dashoffset: ${width/2};`\n            },\n            needle: function(lengthPercent, colour) {\n                const cx = this.arc.cx\n                const cy = this.arc.cy\n                const length = (this.arc.radius - 4.5) * lengthPercent/100\n                return `<path d=\"M ${cx},${cy} ${cx-1.5},${cy} ${cx-0.15},${cy-length} ${cx+0.15},${cy-length} ${cx+1.5},${cy} z\"\n                  fill=\"${colour}\"></path>`\n            },\n        },\n        computed: {\n            arcspec: function() {\n                const delta = this.arc.endDegrees - this.arc.startDegrees\n                // if more than 180 deg sweep then large-arg-flag should be 1\n                const largeArcFlag = delta > 180  ?  1  :  0\n\n                return `M ${this.arc.startx} ${this.arc.starty} A ${this.arc.radius} ${this.arc.radius} 0 ${largeArcFlag} 1 ${this.arc.endx} ${this.arc.endy}`\n            },\n            formattedValue: function() {\n                // Show --- for the value until a valid value is recevied\n                return this.value !== null  ?  this.value.toFixed(this.valueDecimalPlaces)  :  \"---\"\n            },\n            numbers: function() {\n                return this.generateNumbers(this.min,this.max,this.majorDivision)\n            },\n            theViewBox: function() {\n                let y = 100*this.height/this.width\n                if (isNaN(y)) {\n                    //console.log(\"y: NaN\")\n                    y = 100\n                }\n                const answer = `0 0 100 ${y}`\n                //console.log(`theViewBox: ${answer}, height: ${this.height}, width: ${this.width}`)\n                return answer\n            }\n        },\n        mounted(){\n        }\n\n    }\n</script>\n\n<style>\n    .cdl-gauge{\n        position:relative;\n    }\n\n    .cdl-gauge .label {\n        fill:currentColor;\n        font-size:0.5rem;\n        alignment-baseline:hanging;\n    }\n\n    .cdl-gauge .value {\n        fill:currentColor;\n    }\n    .cdl-gauge .units {\n        fill:currentColor;\n        font-size:0.4rem;\n    }\n    .cdl-gauge .measurement {\n        fill:currentColor;\n        font-size:0.5rem;\n    }\n    .cdl-gauge .num{\n        fill:currentColor;\n        fill-opacity:0.6;\n        font-size:.35rem;\n    }\n    .cdl-gauge .tick-minor{\n        fill:none;\n        stroke:currentColor;\n        stroke-opacity:0.6;\n    }\n    .cdl-gauge .tick-major{\n        fill:none;\n        stroke:currentColor;\n    }\n    .cdl-gauge .sector{\n        fill:none;\n        stroke:transparent;      \n    } \n    .cdl-gauge .o-needle{\n        transition:.5s;\n    }\n    \n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "${class}",
        "x": 920,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c6c07b308dc355e6",
        "type": "function",
        "z": "b603080c5881e58b",
        "name": "Load subflow properties into msg._data",
        "func": "/**  Preparator function for gauge template\n * \n * Prepares messages for sending to the template from the data provided in subflow config\n * this was picked up from the env vars in On Start\n */\n\nmsg._data = context.get(\"data\")\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n// build the data object to be passed to the gauge from the env vars\nlet data = {}\nconst vars = [\n    \"width\", \"height\", \"min\", \"max\", \"sectors\", \"majorDivision\", \"minorDivision\", \"valueDecimalPlaces\",\n    \"scaleDecimalPlaces\", \"label\", \"measurement\", \"units\", \"needles\", \"sweepAngle\"\n]\nvars.forEach((v) => data[v] = env.get(v))\ncontext.set(\"data\", data)",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "db2c316a64197c5c"
            ]
        ]
    },
    {
        "id": "2b8b977e0ba829b3",
        "type": "inject",
        "z": "b603080c5881e58b",
        "name": "Trigger subflow properties preload",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "c6c07b308dc355e6"
            ]
        ]
    },
    {
        "id": "db2c316a64197c5c",
        "type": "function",
        "z": "b603080c5881e58b",
        "name": "Join needle values",
        "func": "/** If there is more than one needle specified then join the payloads using topics \n */\nif (msg._data.needles.length > 1) {\n    let payloads = context.get(\"payloads\") || {}\n    // ignore this payload if there is not a good topic\n    if (msg.topic  &&  typeof msg.topic === \"string\"  &&  msg.topic.length > 0) {\n        payloads[msg.topic] = msg.payload\n        context.set(\"payloads\", payloads)\n    }\n    msg.payload = payloads\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 120,
        "wires": [
            [
                "7b0e53c2103b19d5"
            ]
        ]
    },
    {
        "id": "3ab827cb8f00014a",
        "type": "subflow:b603080c5881e58b",
        "z": "997da33a0beedade",
        "g": "0d51f6a2bae0f159",
        "name": "Gauge subflow test",
        "env": [
            {
                "name": "Group",
                "value": "3bc0ca5c8bac5022",
                "type": ""
            },
            {
                "name": "min",
                "value": "-5",
                "type": "num"
            },
            {
                "name": "max",
                "value": "5",
                "type": "num"
            },
            {
                "name": "sectors",
                "value": "[{\"start\":-5,\"end\":0.4,\"color\":\"skyblue\"},{\"start\":0.4,\"end\":0.75,\"color\":\"green\"},{\"start\":0.75,\"end\":5,\"color\":\"red\"}]",
                "type": "json"
            },
            {
                "name": "majorDivision",
                "value": "1",
                "type": "num"
            },
            {
                "name": "label",
                "value": "Gauge",
                "type": "str"
            },
            {
                "name": "needles",
                "value": "[{\"topic\":\"A\",\"colour\":\"black\",\"lengthPercent\":100},{\"topic\":\"B\",\"colour\":\"brown\",\"lengthPercent\":67}]",
                "type": "json"
            }
        ],
        "x": 530,
        "y": 2960,
        "wires": []
    },
    {
        "id": "fb994f32ce900dda",
        "type": "inject",
        "z": "997da33a0beedade",
        "g": "0d51f6a2bae0f159",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "B",
        "payload": "4.5",
        "payloadType": "num",
        "x": 230,
        "y": 3020,
        "wires": [
            [
                "3ab827cb8f00014a",
                "f2730ea02e3f2b57"
            ]
        ]
    },
    {
        "id": "1cc323e3807f1bf0",
        "type": "inject",
        "z": "997da33a0beedade",
        "g": "0d51f6a2bae0f159",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "55",
        "payloadType": "num",
        "x": 230,
        "y": 3060,
        "wires": [
            [
                "3ab827cb8f00014a"
            ]
        ]
    },
    {
        "id": "b2dff1648d75190c",
        "type": "inject",
        "z": "997da33a0beedade",
        "g": "0d51f6a2bae0f159",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "A",
        "payload": "0",
        "payloadType": "num",
        "x": 230,
        "y": 2900,
        "wires": [
            [
                "3ab827cb8f00014a",
                "f2730ea02e3f2b57"
            ]
        ]
    },
    {
        "id": "fab47402dd5e5d0e",
        "type": "inject",
        "z": "997da33a0beedade",
        "g": "0d51f6a2bae0f159",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "A",
        "payload": "1.4",
        "payloadType": "num",
        "x": 230,
        "y": 2980,
        "wires": [
            [
                "3ab827cb8f00014a"
            ]
        ]
    },
    {
        "id": "86425b5f334621b8",
        "type": "inject",
        "z": "997da33a0beedade",
        "g": "0d51f6a2bae0f159",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "B",
        "payload": "0.6",
        "payloadType": "num",
        "x": 230,
        "y": 2940,
        "wires": [
            [
                "3ab827cb8f00014a",
                "f2730ea02e3f2b57"
            ]
        ]
    },
    {
        "id": "a17da6d1a0739673",
        "type": "inject",
        "z": "997da33a0beedade",
        "g": "0d51f6a2bae0f159",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "A",
        "payload": "invalid data",
        "payloadType": "str",
        "x": 270,
        "y": 3100,
        "wires": [
            [
                "3ab827cb8f00014a"
            ]
        ]
    },
    {
        "id": "b4839e916817a5bf",
        "type": "inject",
        "z": "997da33a0beedade",
        "g": "0d51f6a2bae0f159",
        "name": "No payload",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "invalid data",
        "x": 290,
        "y": 3180,
        "wires": [
            [
                "3ab827cb8f00014a"
            ]
        ]
    },
    {
        "id": "3d3c3d42fc45a684",
        "type": "inject",
        "z": "997da33a0beedade",
        "g": "0d51f6a2bae0f159",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-1.4",
        "payloadType": "num",
        "x": 290,
        "y": 3220,
        "wires": [
            [
                "3ab827cb8f00014a",
                "f2730ea02e3f2b57"
            ]
        ]
    },
    {
        "id": "09c96ce578d1976d",
        "type": "inject",
        "z": "997da33a0beedade",
        "g": "0d51f6a2bae0f159",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "B",
        "payload": "invalid data",
        "payloadType": "str",
        "x": 270,
        "y": 3140,
        "wires": [
            [
                "3ab827cb8f00014a"
            ]
        ]
    },
    {
        "id": "c34fa1e1b9b2a179",
        "type": "inject",
        "z": "997da33a0beedade",
        "g": "0d51f6a2bae0f159",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "A",
        "payload": "5",
        "payloadType": "num",
        "x": 230,
        "y": 2860,
        "wires": [
            [
                "3ab827cb8f00014a",
                "f2730ea02e3f2b57"
            ]
        ]
    }
]